.info-container {
    padding: 20px;
}

.personal-info,
.company-info {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

.personal-info,
.company-info {
    font-size: 14px;
    font-weight: normal;
}

.personal-info {
    background-color: #f9f9f9;
}

.company-info {
    background-color: #e9f7f9;
}